### Types

In [1]:
# from pandas import set_option, reset_option
from contest.exploration.summary.types import describe

In [2]:
description = describe()

In [3]:
# set_option(
#     'display.max_rows', description.shape[0],
#     'display.max_columns', description.shape[1],
# )

description

        train  test
rows     1460  1459
columns    80    79
object     43    43
number     37    36
int        34    25
float       3    11
null     True  True

In [4]:
# reset_option('display.*')